@use "../../styles/_variables.scss" as *;

.contact-us {
  margin: 2rem 0rem;

  &__heading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  &__paragraph {
    font-size: 00.8rem;
    margin-bottom: 1rem;
  }

  &__logo {
    display: none;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .contact-us {
    display: flex;

    &__content-container {
      width: 48%;
    }

    &__logo {
      display: block;
      margin-left: auto;
      transform: scale(1, 1.2);
      z-index: -1;
    }
  }
}
