@use "../../styles/_variables.scss" as *;

.contact-us {
  border: 2px solid black;
  margin: 2rem 0rem;
  z-index: -1;

  &__heading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  &__paragraph {
    font-size: 00.8rem;
    margin-bottom: 1rem;
  }

  &__logo {
    display: none;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .contact-us {
    display: flex;
    // gap: 4rem;

    &__content-container {
      width: 48%;
    }

    &__logo {
      display: block;
      margin-left: 5%;
      transform: scale(1.2);
    }
  }
}
