@use "../../styles/_variables.scss" as *;

.button-link {
  width: 100%;
  padding: 0.5rem;
  text-decoration: none;
  background-color: $colour-dark-blue;
  display: flex;
  justify-content: center;
  border-radius: 0.3rem;
}

.button {
  background-color: transparent;
  color: white;
  font-weight: bold;
  border: none;
  font-size: 0.8rem;
}

@media screen and (min-width: $desktop-breakpoint) {
  .button-link {
    width: 8rem;
    padding: 0.7rem;
  }
}
