@use "../../styles/_variables.scss" as *;

.layout {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0rem 1rem;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .layout {
    &__content {
      width: 68%;
      padding: 0rem;
    }
  }
}
