@use "../../styles/_variables.scss" as *;

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0rem 1rem;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .layout {
    &__content {
      width: 68%;
      padding: 0rem;
    }
  }
}
