@use "../../styles/_variables.scss" as *;

.swiper {
  border: 2px solid black;
  width: 100vw;
  // height: 42%;
  height: 63vh;
}

.swiper-wrapper {
  border: 2px solid blue;
}

.swiper-slide {
  border: 2px solid red;
  width: 4rem;
  overflow: hidden;
}

.carousel__slide {
  height: 100%;
  position: relative;
}

.carousel__content {
  position: absolute;
  left: 50%;
  bottom: 50%;
}

.carousel__image {
  height: 100%;
  margin-left: -7rem;
}
