@use "../../styles/_variables.scss" as *;

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 1rem;
  padding-bottom: 1rem;
  background-color: white;

  &__line-break {
    border: 1px solid $colour-font-general;
    background-color: $colour-font-general;
    width: 100%;
    margin-bottom: 1rem;
    opacity: 0.2;
  }

  &__paragraph {
    font-size: 0.8rem;
    opacity: 0.5;
  }

  &__company-name {
    font-size: 0.8rem;
    text-decoration: underline;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .footer {
    width: 68%;
    padding-left: 0rem;
    padding-right: 0rem;
    align-items: flex-end;
  }
}
